div#lab {
  color: white;
  -webkit-text-stroke: 2px black;
}

body {
    font-family: cursive;
    background-color: #A2E4B8;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: #E3AE96;
    border: dashed 2px #333333;
    height: 90vh;
}

h1, h2, h3 {
    font-family: "fantasy"
}

h2 {
  color: #70574B;
}

h3 {
  color: #70574B;
}

img {
    padding: 20px;
    float: right;
    width: 300px;
    height: auto;
}

img:hover{
  width: 500px;
  height: auto;
  border: beige;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
