body{
  background-color: #896F8F;
  border: solid 2px #333333;
  border-color: black;
  font-size: 120%;
  color: black;
}

aside#side{
  float: right;
  display: inline-block;
  width: 50%;
  border: solid 2px #333333;
  border-color: black;
  background-color: #C6A1CF;
}

div#content{
background-color: #C6A1CF;
}

img{
  width: 300px;
  height: auto;
}

a{
  color: black
}

a:hover{
  text-decoration-style: none;
  text-decoration: underline;
}

footer{
  position: absolute;
  text-align: center;
  color: white;
  left: 0;
  bottom: 0;
  width: 40%;
  height: auto;
  background-color: #00A9B5;
  border: solid 2px #333333;
  border-color: black;
}
