body {
    font-family: cursive;
    background-color: lightblue;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: white;
    border: dashed 5px #333333;
    height: 100vh;
}

div#lab {
    padding: 50px;
    background-color: white;
    border: dashed 5px #333333;
    height: 15vh;
}

h1, h2, h3 {
    font-family: "fantasy"
}

h1 {
  color: lightblue
}

h2 {
  color: lightblue
}

img {
    padding: 10px;
    float: right;
    width: 400px;
    height: auto;
}

img:hover{
    width:600px;
    height:auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
