body {
    font-family: cursive;
    background-color: lightblue;
    padding: 25px;
    font-size: 120%;
}

div#challenge {
    padding: 50px;
    background-color: white;
    border: dashed 5px #333333;
    height: 100vh;
}

div#problems {
        padding: 50px;
        background-color: white;
        border: dashed 5px #333333;
        height: 100vh;
}

div#finalresult {
            padding: 50px;
            background-color: white;
            border: dashed 5px #333333;
            height: 100vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
