div#lab {
  color: white;
  -webkit-text-stroke: 0.8px black;
  background-color: #8ABD91;
  opacity: 0.7;
  border: solid 2px #333333;
  border-color: white;
  border-radius: 25px;
  text-align: center;
}

nav#links {
  position: relative;
  top: 0.5px;
  right: 1px;
}

nav#links a{
  padding: 5px;
  background-color: white;
  border-radius: 25px;
}

body {
  background-image: url("../img/rain.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 25px;
  font-size: 120%;
}

div#challenge {
  padding: 10px;
  background-color: #8ABD91;
  opacity: 0.7;
  border: solid 2px #333333;
  border-color: white;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  font-family: URW Chancery L, cursive;
  color: white;
}

div#problem {
  padding: 10px;
  background-color: #8ABD91;
  opacity: 0.7;
  border: solid 2px #333333;
  border-color: white;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  font-family: URW Chancery L, cursive;
  color: white;
}

div#finalresult{
  padding: 10px;
  background-color: #8ABD91;
  opacity: 0.7;
  border: solid 2px #333333;
  border-color: white;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  font-family: URW Chancery L, cursive;
  color: white;
}

aside#sidebar {
  float: right;
  display: inline-block;
  width: 20%;
  min-width: 100px;
  border: solid 2px #333333;
  border-color: white;
  border-radius: 25px;
  background-color: #8ABD91;
  opacity: 0.7;
  padding: 20px;
  font-family: URW Chancery L, cursive;
  color: white;
}

div#center-horz{
  font-family: URW Chancery L, cursive;
  color: white;
  border: solid 2px #333333;
  border-color: white;
  background-color: #8ABD91;
  opacity: 0.7;
  border-radius: 25px;
}

div#floated{
  font-family: URW Chancery L, cursive;
  color: white;
  border: solid 2px #333333;
  border-color: white;
  background-color: #8ABD91;
  opacity: 0.7;
  border-radius: 25px;
}

h1 {
  font-family: URW Chancery L, cursive;
  color: white;
  font-size: 150%;
  -webkit-text-stroke: 0.5px black;
}

h2 {
  font-family: URW Chancery L, cursive;
    color: white;
    font-size: 150%;
    -webkit-text-stroke: 0.5px black;
}

h3 {
  font-family: URW Chancery L, cursive;
  color: white;
  font-size: 150%;
  -webkit-text-stroke: 0.5px black;
}

div#img:hover {
  width: 20px;
  height: auto;
  transform: scale(200%) translate(-15px, 25px);
  transition: all 3s ease-in;
  overflow: hidden;
  border: solid 3px #333333;
  border-color: white;
}

div#center-img {
  width: 20px;
  height: auto;
  float: left;
  opacity: 100px;
}

div#center-both {
  width: 20px;
  height: auto;
  float: left;
}

img {
    padding: 20px;
    float: left;
    width: 150px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: none;
}
