div#lab {
  color: black;
  -webkit-text-stroke: 0.9px black;
  background-color: white;
  border-bottom: solid 2px #333333;
  border-color: darkgray;
  border-radius: 25px;
  text-align: center;
  margin: 40px;
  box-shadow: 3px 3px 5px grey;
  height: 10vh;
}

@media screen and (max-width:600px) {
    section , nav , aside {
      width: auto; }
}

nav{
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 5px grey;
}

body{
  background-color: #FFB7C5;
  padding: 25px;
  font-size: 120%;
  margin: 10px;
}

div.container{
  border: solid 2px #333333;
  border-color: darkgray;
  border-radius: 25px;
  background-color: white;
  box-shadow: 3px 3px 5px grey;
  width: 90%;
  margin: 20px;
}

h1 {
  font-family: FreeMono, monospace;
  color: #FFB7C5;
  font-size: 150%;
  -webkit-text-stroke: 0.7px black;
  text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  text-align: center;
}

h2 {
  font-family: FreeMono, monospace;
    color: #FFB7C5;
    font-size: 150%;
    -webkit-text-stroke: 0.7px black;
    text-shadow: -1px 0 black,
      0 1px black,
      1px 0 black,
      0 -1px black;
    text-align: center;
}

h3 {
  font-family: FreeMono, monospace;
  color: #FFB7C5;
  font-size: 150%;
  -webkit-text-stroke: 0.7px black;
  text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
    text-align: center;
}

p{
  text-align: center;
  color: black;
}

img {
    padding: 20px;
    float: left;
    max-width: 100%;
    height: auto;
}
