body {
    font-family: Times, cursive, "san serif";
    background-color: lightblue;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: beige;
    border: solid 1px #333333;
    height: 100vh;
}

h1, h2, h3 {
    font-family: "Times New Roman", monospace;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
